
@font-face {
    font-family: 'FoundersGroteskRegular';
    src: URL('./fonts/FoundersGroteskWeb-Regular.woff2');
}

@font-face {
    font-family: 'FoundersGroteskBold';
    src: URL('./fonts/FoundersGroteskBoldWeb-Bold.woff2');
}

body {
	background-color: salmon;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'FoundersGroteskRegular', 'Helvetica', 'Arial', sans-serif;
}

p {
	font-family: 'FoundersGroteskRegular', 'Helvetica', 'Arial', sans-serif;
}

h1 {
	font-family: 'FoundersGroteskBold', 'Helvetica', 'Arial', sans-serif;
}

section {
	padding: 10%;
	background-color: salmon;
}