
@font-face {
    font-family: 'FoundersGroteskRegular';
    src: URL('./fonts/FoundersGroteskWeb-Regular.woff2');
}
@font-face {
    font-family: 'FoundersGroteskBold';
    src: URL('./fonts/FoundersGroteskWeb-Bold.woff2');
}
body, html, div, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: salmon;
    color: #1A1A1A;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
ul a {
    color: #000000;
    text-decoration: none;
}
li {
    font-family: 'FoundersGroteskRegular', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.4em;
    text-align: center;
    padding: 2px 16px 4px 16px;
    background-color: ivory;
    color: #1A1A1A;
}
#navigation {
    margin-bottom: 48px;
    padding: 16px 0;
    background-color: salmon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.pan-container-js {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
}
.pan-container-js:active {
    cursor: grabbing;
}
.grid-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 12em);
    grid-template-rows: repeat(3, 12em);
    column-gap: 12em;
    row-gap: 12em;
    background-color: lavender;
    padding: 10%;
    transform-origin: center center;
    will-change: transform;
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1); /*easeOutQuart*/          
}
.grid-item {
    background-color: ivory;
    height: 16em;
    width: 16em;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.grid-item:hover {
    transform: scale(1.1);
}
